@charset "UTF-8";

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    min-height: 100vh;
}

header {
    background-color: white;
    height: 15vh;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

#header-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 23% 77%;
    height: 100%;
    width: 100%;
}

.logo {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo a {
    text-decoration: none;
    color: black;
}

#header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

#header-navigation ul {
    display: flex;
    padding: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
}

#header-navigation li {
    display: flex;
    place-items: center;
    color: white;
    background-color: black;
    padding: 0.8% 2.9%;
}

main {
    display: flex;
    flex-direction: column;
    margin: 8% 11%;
    background-color: white;
    height: 400vh;
}

#main-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#main-section-two {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#main-section-three {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

#main-section-four {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#main-section-five {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#main-section-six {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-content-titles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titles {
    padding-top: 2.5%;
    font-size: 38px;
}

#main-content-two {
    display: grid;
    flex: 1;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.main-content {
    display: grid;
    flex: 1;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.main-content-texts {
    font-size: 20px;
}

.main-content-texts {
     display: flex;
}

.main-content-images {
    width: 78%;
    height: 85%;
}

footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 20% 40%;
    background-color: white;
    height: 25vh;
}