/*=========================================================
                Media querie for header
=========================================================*/
@media (max-width: 1200px) {

  header {
    padding-left: 10%;
    padding-right: 10%;
  }

  #header-content {
    grid-template-rows: 100%;
    grid-template-columns: 35% 65%;  
  }

  #header-navigation {
    justify-content: end;
    align-items: center;
  }

  /*=========================================================
                        Menu Hamburguer
  =========================================================*/
  .menu-button-container {
    display: flex;
  }

  #menu {
    position: absolute;
    top: 150px;
    left: 0;
    align-items: none;
    justify-content: start;
    flex-direction: column;
    width: 100%;
  }

  #menu-toggle ~ #menu a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ #menu a {
    border: 1px solid #333;
    height: 6%;
    min-height: 55px;
    padding: 1.5%;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu > a {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: #222;
  }
  #menu > a:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/*=========================================================
              Media querie for footer
=========================================================*/
@media (max-width: 1450px) {
  
  footer {
  grid-template-rows: 45% 55%;
  grid-template-columns: 1fr;
  }

  .footer-icons {
    grid-row: 2;
    height: 65%;
    width: 3.5%;
  }

  #logo-footer {
    display: none;
  }
}

/*=========================================================
            Medias queries for Main Container
=========================================================*/
@media (max-width: 1050px) {
  .texts {
    font-size: 17px;
  }

  .titles {
    font-size: 35px;
  }

  .main-content-whoare-contentbottom-titles {
    font-size: 22px;
  }

  .main-content-whoare-contentbottom-images {
      height: 70%;
      width: 30%;
  }

  .main-content-whoare-contentbottom-text {
      font-size: 17px;
  }

  #main-content-image {
    width: 74%;
    height: 65%;
    min-width: 100px;
    min-height: 200px;
}
}

@media (max-width: 900px) {

  /*=========================================================
                        Menu container
  =========================================================*/
  main {
    height: 450vh;
    max-height: 10000px;
  }

  /*=========================================================
                      Sections content
  =========================================================*/
  #main-section {
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    height: 12%;
  }

  #main-section-whoweare {
    grid-template-columns: 1fr;
    grid-template-rows: 4% 96%;
    height: 65%;
  }

  #main-section-help {
    grid-template-columns: 1fr;
    grid-template-rows: 5% 95%;
    height: 23%;
  }

  /*=========================================================
                          Contents
  =========================================================*/
  #main-content {
    grid-template-columns: 1fr;
    grid-template-rows: 35% 65%;
  }

  #main-content-whoweare-contenttop {
    grid-template-columns: 1fr;
    grid-template-rows: 25% 75%;
    height: 20%;
  }

  #main-content-whoare-contentbottom {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 80%;
  }

  #main-content-whoare-contentbottom-products {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #main-content-whoare-contentbottom-development {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #main-content-whoare-contentbottom-services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #main-content-contact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #main-content-contact-left {
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
  }

  #main-content-contact-left img {
    height: 90%;
    width: 25%;
  }

  /*=========================================================
                  Texts, titles and images
  =========================================================*/
  .titles {
    font-size: 30px;
  }

  .texts {
    text-align: center;
    font-size: 17px;
  }

  #main-content-image {
    width: 42%;
    height: 80%;
    min-width: 100px;
    min-height: 200px;
  }

  .main-content-whoare-contentbottom-titles {
    grid-row: 1;
  }

  .main-content-whoare-contentbottom-icons {
    grid-row: 2;
  }

  .main-content-whoare-contentbottom-text {
    grid-row: 3;
    font-size: 17px;
  }

  /*=========================================================
                            Forms
  =========================================================*/
  #main-content-contact-right-form-base {
    display: grid;
    grid-template-rows: 22% 60% 18%;
    grid-template-columns: 1fr;
  }

  #main-content-contact-right-form-base-nameandemail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #main-content-contact-right-form-base-nameandemail input {
    height: 35%;
    width: 80%;
  }

  #main-content-contact-right-form-base-message textarea {
    width: 80%;
  }
}

/*=========================================================
        Media queries para dispositivos verticais
=========================================================*/
@media (max-width: 700px) {

  #main-content-image {
    width: 50%;
    height: 84%;
  }

  .titles {
    font-size: 20px;
  }

  .main-content-whoare-contentbottom-text {
    font-size: 16px;
  }

  #main-content-contact-left img {
    height: 80%;
    width: 35%;
  }

  .texts {
    text-align: center;
    font-size: 16px;
  }
}

@media (max-width: 450px) {

  .texts {
    text-align: center;
    font-size: 14px;
  }

  .titles {
    font-size: 17px;
  }

  .main-content-whoare-contentbottom-text {
    font-size: 14px;
  }

  .menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 10px;
  width: 90px;
  max-width: 105px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
}

@media (max-height: 400px) {
  main {
    height: 300vh;
    min-height: 4400px;
  }
}
