<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Conecte-se</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/img/logo.png">
	<link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/login/util.css">
	<link rel="stylesheet" type="text/css" href="/css/login/login.css">
</head>
<body>
	<div id="limiter">
		<div id="container-login">
			<div class="wrap-login">
				<form class="login-form validate-form flex-sb flex-w" method="post" action="http://localhost:5000/api/login">
					<span class="login-form-title">Conecte-se Com</span>
					<a href="#" class="btn-face"><i class="fa fa-facebook-official"></i>Facebook</a>
					<a href="#" class="btn-google"><img src="/img/icons/icon-google.png" alt="GOOGLE">Google</a>
					<div class="input-label">
						<span class="txt1">Email</span>
					</div>
					<div class="wrap-input validate-input" data-validate = "Username is required">
						<input class="input" type="text" name="email">
						<span class="focus-input"></span>
					</div>
					<div class="input-label">
						<span class="txt1">Senha</span>
						<a href="#" class="txt2 bo1">Esqueceu?</a>
					</div>
					<div class="wrap-input validate-input" data-validate = "Password is required">
						<input class="input" type="password" name="password">
						<span class="focus-input"></span>
					</div>
					<div class="container-login-form-btn">
						<button id="login-form-btn">Entrar</button>
					</div>
					<div class="signup-container">
						<span class="txt2">Não é um membro?</span>
						<a href="/sign_up" class="txt2 bo1">Cadastre-se agora!</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/js/login.js"></script>
</body>
</html>
