<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Sky</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/medias-index.css">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
</head>
<body>
    <header>
        <div id="header-content">
            <a href="/" id="logo-header" class="logo"><img src="/img/logo.png" alt="Logo da X-Sky"></a>
            <nav id="header-navigation">
                <input id="menu-toggle" type="checkbox"/>
                <label class="menu-button-container" for="menu-toggle">
                <div class="menu-button"></div>
                </label>
                <ul id="menu">
                    <a href="/"><li>Home</li></a>
                    <a href="login"><li>Trabalhe Conosco</li></a>
                    <a href="login"><li>Produtos</li></a>
                    <a href="login"><li>Serviços</li></a>
                    <a href="login"><li>Contato</li></a>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section id="main-section">
            <div class="main-titles">
                <h1 class="titles">Soluções de tecnologia inteligente!</h1>
            </div>
            <div id="main-content">
                <p class="texts">
                    Criamos ou evoluímos sistemas com</br>
                    o intuito de ajudar nossos clientes.</br>
                    Estamos sempre procurando a melhor solução </br>
                    tecnológica na construção de nossas aplicações.</br>
                    Assim como Fornecemos serviços e produtos</br>
                    de alta qualidade.
                </p>
                <img src="/img/main.png" alt="Desenho de um homem parado em frente a um notebook, olhando-o." id="main-content-image">
            </div>
        </section>
        <section id="main-section-whoweare">
            <div class="main-titles">
                <h1 class="titles">Quem somos?</h1>
            </div>
            <div id="main-content-whoweare">
                <div id="main-content-whoweare-contenttop">
                    <p class="texts">
                        Somos uma grande corporação de serviços</br>
                        de tecnologia em geral.</br>
                        Localizada em Londres, Reino Unido na Europa.</br>
                        Desenvolvemos e criamos sistemas,</br>
                        Criamos e vendemos produtos de alta qualidade</br>
                        e disponibilizamos variados serviços.
                    </p>
                    <div class="mapouter" style="border: 4px solid black; border-radius: 10px;">
                        <div class="gmap_canvas">
                            <iframe src="https://maps.google.com/maps?q=51.50057999078378,%20-0.13792750855335817&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" id="gmap_canvas" scrolling="no" style="width: 100%; height: 100%;" frameborder="0"></iframe>
                            <a href="https://fnftest.net" style="display:none">fnf test</a>
                            <style>.mapouter{position:relative;text-align:right;height:75%;width:84%;}@media(max-width:900px){.mapouter{height: 85%;width: 70%;}}</style>
                            <a href="https://googlemapsiframegenerator.com" style="display:none">Google Maps Iframe Generator - Free Html Embed Code</a>
                            <style>.gmap_canvas{overflow:hidden;background:none!important;height:100%;width:100%;}</style>
                        </div>
                    </div>
                </div>
                <div id="main-content-whoare-contentbottom">
                    <div id="main-content-whoare-contentbottom-products">
                        <h2 class="main-content-whoare-contentbottom-titles">Nossos Produtos</h2>
                        <img src="/img/icons/products.png" alt="Icone Produtos" class="main-content-whoare-contentbottom-icons">
                        <p class="main-content-whoare-contentbottom-text">
                        </br>Desenvolvemos das mais</br>
                            simples as mais complexas</br>
                            aplicações. Usando as</br>
                            melhores e mais rentáveis</br>
                            tecnologias do Mercado.</br></br>
                            Desenvolvemos Aplicações</br>
                            Web, de pequeno porte a</br> 
                            grande porte.</br>
                            Disponibilizando até mesmo</br>
                            servidores para hospedagem,</br>
                            com manutenções mensais.</br></br>
                            Desenvolvemos programas</br> 
                            dos mais variados tipos.</br>
                            Seja novas soluções para</br> 
                            o mercado, novas plataformas,</br>
                            novas técnologias, aplicações</br>
                            mobile, aplicações inovadoras.
                        </p>
                    </div>
                    <div id="main-content-whoare-contentbottom-development">
                        <h2 class="main-content-whoare-contentbottom-titles">Desenvolvimento</h2>
                        <img src="/img/icons/development.png" alt="Icone desenvolvimento" class="main-content-whoare-contentbottom-icons">
                        <p class="main-content-whoare-contentbottom-text">
                        </br>Desenvolvemos das mais</br>
                            simples as mais complexas</br>
                            aplicações. Usando as</br>
                            melhores e mais rentáveis</br>
                            tecnologias do Mercado.</br></br>
                            Desenvolvemos Aplicações</br>
                            Web, de pequeno porte a</br> 
                            grande porte.</br>
                            Disponibilizando até mesmo</br>
                            servidores para hospedagem,</br>
                            com manutenções mensais.</br></br>
                            Desenvolvemos programas</br> 
                            dos mais variados tipos.</br>
                            Seja novas soluções para</br> 
                            o mercado, novas plataformas,</br>
                            novas técnologias, aplicações</br>
                            mobile, aplicações inovadoras.
                        </p>
                    </div>
                    <div id="main-content-whoare-contentbottom-services">
                        <h2 class="main-content-whoare-contentbottom-titles">Nossos Serviços</h2>
                        <img src="/img/icons/services.png" alt="Icone serviços" class="main-content-whoare-contentbottom-icons">
                        <p class="main-content-whoare-contentbottom-text">
                        </br>Desenvolvemos das mais</br>
                            simples as mais complexas</br>
                            aplicações. Usando as</br>
                            melhores e mais rentáveis</br>
                            tecnologias do Mercado.</br></br>
                            Desenvolvemos Aplicações</br>
                            Web, de pequeno porte a</br> 
                            grande porte.</br>
                            Disponibilizando até mesmo</br>
                            servidores para hospedagem,</br>
                            com manutenções mensais.</br></br>
                            Desenvolvemos programas</br> 
                            dos mais variados tipos.</br>
                            Seja novas soluções para</br> 
                            o mercado, novas plataformas,</br>
                            novas técnologias, aplicações</br>
                            mobile, aplicações inovadoras.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="main-section-help">
            <div class="main-titles">
                <h1 class="titles">Como podemos ajuda-lo?</h1>
            </div>
            <div id="main-content-contact">
                <div id="main-content-contact-left">
                    <p class="texts">
                        Deseja contratar algum serviço?</br>
                        Comprar algum produto?</br>
                        Desenvolver alguma aplicação?</br>
                        Por alguma ideia em prática?</br>
                        Trabalhar Conosco?</br>
                        Resolver alguma inconsitência?</br></br>
                        Entre em contato conosco via</br>
                        <span style="color:green">WhatsApp</span>, ou nos envie</br>
                        este formulário.
                    </p>
                    <img src="/img/icons/contact.png" alt="Icone de um telefone">
                </div>
                <div id="main-content-contact-right">
                    <form action="index.html" method="post" name="contact">
                        <div id="main-content-contact-right-form-base">
                            <div id="main-content-contact-right-form-base-nameandemail">
                                <input class="focus-input" type="text" placeholder="Nome">
                                <input class="focus-input" type="email" placeholder="Email">
                            </div>
                            <div id="main-content-contact-right-form-base-message">
                                <textarea type="text" placeholder="Message"></textarea>
                            </div>
                            <div id="main-content-contact-right-form-base-submit">
                                <button type="button">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div id="footer-icons">
            <a href="https://youtube.com" target="_blank" class="footer-icons"><img src="/img/icons/youtube.png" alt="Icone do Youtube"></a>
            <a href="https://facebook.com" target="_blank" class="footer-icons"><img src="/img/icons/facebook.png" alt="Icone do Facebook"></a>
            <a href="https://instagram.com" target="_blank" class="footer-icons"><img src="/img/icons/instagram.png" alt="Icone do Instagram"></a>
            <a href="https://twitter.com" target="_blank" class="footer-icons"><img src="/img/icons/twitter.png" alt="Icone do Twitter"></a>
            <a href="https://linkedin.com" target="_blank" class="footer-icons"><img src="/img/icons/linkedin.png" alt="Icone do Linkedin"></a>
        </div>
        <div id="logo-footer" class="logo"><img src="img/logo.png" alt="Logo da X-Sky"></div>
        <div>
            <div id="footer-navigation">
                <a href="/" class="texts">Security FAQ</a>
                <a href="/" class="texts">Cookies</a>
                <a href="/" class="texts">Privacy Policy</a>
                <a href="/" class="texts">Terms&Conditions</a>
            </div>
            <div id="copyright">
                <p class="texts">Copyright © 2022 X-Sky, Inc.</p>
            </div>
        </div>
    </footer>
    <script src="/js/login.js"></script>
</body>
</html>
